body {
    background-color: #F9F7F7;
    margin: 0;
}

.navbar {
    background-color: #DBE2EF;
}

.image {
    width: 60%;
}

.landing-page {
    background-color: #3F72AF; 
}

#journey {
    background-color: #F9F7F7;
}

.text-highlight {
    font-weight: bold;
    font-style: italic;
}
.text-highlight-career {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.career-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#technical-skills {
    background-color: #112D4E;
}
.svg-img {
    display: flex;
    height: 200px;
    width: 250px;
    margin: 0 auto;
    
}

.svg-img img {
    margin: auto;
}
